<body>
  <%= render "layouts/header" %>
  
  <%= render "layouts/alerts" %>
  
  <div id="main-content" class="row full-min-height">
    <%= yield %>
  </div>
  
  <footer class="row">
    <div class="large-12 columns">
      <hr><p>&copy; Movie Store 2018</p>
    </div>
  </footer>
  
  <%= javascript_include_tag "application" %>
  
</body>